Desktop/PhD[[:space:]]in[[:space:]]Economics/Fourth[[:space:]]Term/Urban[[:space:]]Economics/religion_voting/data/shapefiles/vg250_ebenen_1231/DE_VG250.gpkg filter=lfs diff=lfs merge=lfs -text
*.gpkg filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
